[submodule "lib/ClickButton"]
	path = lib/ClickButton
	url = https://github.com/marcobrianza/ClickButton
[submodule "lib/Adafruit_BNO055"]
	path = lib/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit_BMP3XX"]
	path = lib/Adafruit_BMP3XX
	url = https://github.com/adafruit/Adafruit_BMP3XX
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/Orientation"]
	path = lib/Orientation
	url = https://github.com/johnnwallace/Orientation
